* {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
padding: 0 10%;
}


.hero-text h1 {
font-size: 3rem;
}


.hero-text h3 {
color: #38bdf8;
margin: 10px 0;
}


.hero-img img {
width: 100%;
animation: float 4s ease-in-out infinite;
}


@keyframes float {
0% { transform: translateY(0); }
50% { transform: translateY(-15px); }
100% { transform: translateY(0); }
}


.btn {
display: inline-block;
margin-top: 20px;
padding: 12px 30px;
background: #38bdf8;
color: #0f172a;
border-radius: 30px;
text-decoration: none;
font-weight: 600;
}


/* SECTIONS */
section {
padding: 100px 10%;
}


.about, .projects, .skills, .contact {
background: #020617;
margin-top: 50px;
border-radius: 20px;
}


.project-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}


.project-grid img {
width: 100%;
border-radius: 15px;
}
